@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
}

.logo {
  margin: 5px;
  width: 50px;
  height: 50px;
}

header {
  background-color: #1f2229;
  color: #fff;
  align-items: center;
  padding: 2.5rem 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

ul li {
  padding: 10px 15px;
  list-style: none;
}

ul li a {
  font-size: 1.1rem;
}

a {
  color: white;
  text-decoration: none;
}

header h2 {
  font-size: 30px;
  text-align: left;
  margin: 0;
}

header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

main {
  background-color: #1c1c1c;
  padding: 3rem 3rem;
  flex-grow: 1;
}

select,
input[type="date"] {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 200px;
  min-height: 58px;
  background: #1f2229;
  color: white;
}

select {
  border: 1px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  scrollbar-width: none;
  -ms-expand: none;
}

input[type="date"] {
  border: 1px solid white;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

section {
  box-sizing: content-box;
  overflow: hidden;
  background-color: #1f2229;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.787);
  color: white;
  padding: 1.5rem;
  margin: 20px 15px;
  height: 300px;
}

.filter-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
  gap: 15px;
}

.date-filter {
  color: white;
  display: flex;
  flex-direction: column;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  padding-top: 3rem;
  height: auto !important;
}

.chart {
  box-sizing: content-box;
  overflow: hidden;
  background-color: #1f2229;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.787);
  color: white;
  padding: 1.5rem 2rem;
  margin: 10px;
}

.chart h2 {
  color: white;
}

.circle-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle-logo img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.bg-violet {
  background: #e9d5d7;
}

.bg-lemon {
  background: #fed1ba;
}

.bg-mint {
  background: #dcfce7;
}

.bg-lavender {
  background: #f4e8ff;
}

.bg-pink {
  background-color: rgb(253, 100, 136);
}

.bg-green {
  background-color: rgb(71, 210, 53);
}

.bg-orange {
  background-color: rgb(241, 143, 72);
}

.bg-purple {
  background-color: rgb(204, 98, 253);
}

/* Meet Our Team */
.team-container {
  width: 100%;
  padding-bottom: 30px;
  margin: 0 auto;
  background-color: #1c1c1c;
}

.team-title {
  text-align: center;
  color: #fff;
  font-size: 35px;
}

.team-content {
  max-width: 90%;
  margin: 30px auto;
  padding: 5rem 20px;
  background-color: #1f2229;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.team-banners {
  display: flex;
  margin-top: 100px;
}

.team {
  position: relative;
  height: 350px;
  width: 300px;
  background-image: url("../img/logo.jpg");
  background-size: 100%;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  border-radius: 15px;
}

.team h3 {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 240px;
  font-size: 22px;
  z-index: 1;
}

.team p {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin: 0;
  z-index: 1;
}

/* Footer */

footer {
  background-color: #1f2229;
}

.footer-desc {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-desc img {
  width: 50px;
  height: 50px;
}
