@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  height: 100vh;
}

.logo {
  margin: 5px;
  width: 50px;
  height: 50px;
}

header {
  background-color: #1f2229;
  color: #fff;
  align-items: center;
  padding: 2.5rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

ul li {
  padding: 10px 15px;
  list-style: none;
}

ul li a {
  font-size: 1.1rem;
}

a {
  color: white;
  text-decoration: none;
}

header h2 {
  font-size: 30px;
  text-align: left;
  margin: 0;
}

header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

main {
  background-color: #1c1c1c;
  padding: 3rem 5rem;
  height: auto;
}

select,
input[type="date"] {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 200px;
  background: #1f2229;
  color: white;
}

select {
  border: 1px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  scrollbar-width: none;
  -ms-expand: none;
}

input[type="date"] {
  border: 1px solid white;
}

section {
  box-sizing: content-box;
  overflow: hidden;
  background-color: #1f2229;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.787);
  color: white;
  padding: 1.5rem;
  margin: 20px 15px;
  height: 300px;
}

nav ul li a:hover {
  color: rgba(75, 192, 192, 1);
}

nav ul li a:checked {
  color: red;
}

table,
th,
td,
tr {
  background-color: #1f2229;
  color: white;
}

.table-container {
  margin-top: 3rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.787);
  background-color: #1f2229;
  border-radius: 10px;
  padding: 3rem 2rem;
  color: white !important;
  text-align: left !important;
}

.sorting_1,
.sorting_2 {
  background-color: #1f2229 !important;
}

.dataTables_wrapper .dataTables_length select {
  padding: 10px !important;
  margin: 0 5px;
  background-color: #1f2229 !important;
  width: auto;
  text-align: center;
}

.dataTables_wrapper .dataTables_filter input {
  color: white;
  background-color: #1f2229 !important;
}
.dataTables_wrapper label {
  color: white;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white !important;
}

.table-container
  .dataTables_wrapper
  .dataTables_paginate
  .paginate_button.disabled {
  color: white !important;
}

.table-container .dataTables_wrapper .dataTables_paginate .paginate_button {
  color: white !important;
}

table.dataTable thead th:nth-child(1) {
  padding-left: 0 !important ;
}

/* SUMMARY SECTION */

.kpi-card {
  width: 100%;
  padding: 20px 25px;
  border-radius: 10px;
  background: #1f2229;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-box i {
  font-size: 2.3rem;
  color: rgba(75, 192, 192, 1);
}

.kpi-card h3 {
  margin-bottom: 10px;
  font-size: 1em;
}

.kpi-card p {
  font-size: 2em;
  margin: 0;
  color: rgba(75, 192, 192, 1);
}

/* FILTER SECTION */

.filter-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  gap: 30px;
}

.filter-section select {
  border: none;
  text-align: center;
  background-color: rgba(75, 192, 192, 1);
  color: #1f2229;
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 0 0px 8px 8px;
  padding: 10px 0;
  width: 100%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(65, 163, 163);
}

.dropbtn {
  width: max-content;
  border-radius: 8px;
  background-color: rgba(75, 192, 192, 1);
  color: #1f2229;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.dropdown-content label {
  color: #1f2229;
  padding: 8px 15px;
  align-self: center;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #838383;
  border-radius: 2px;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: rgba(75, 192, 192, 1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container p {
  width: max-content;
  padding-left: 20px;
  margin-left: 10px;
}

/* CHART SECTION */

.charts {
  display: grid;
  color: white !important;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 3rem;
  height: auto !important;
}

.charts2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 1rem;
  height: auto !important;
}

.chart {
  box-sizing: content-box;
  overflow: hidden;
  background-color: #1f2229;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.787);
  color: white;
  padding: 1.5rem 2rem;
  margin: 10px;
  color: rgb(80, 48, 145);
}

canvas {
  width: max-content !important;
}

.chart h2 {
  color: white;
  margin-bottom: 15px;
}

.circle-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle-logo img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.bg-violet {
  background: #e9d5d7;
}

.bg-lemon {
  background: #fed1ba;
}

.bg-mint {
  background: #dcfce7;
}

.bg-lavender {
  background: #f4e8ff;
}

.bg-pink {
  background-color: rgb(253, 100, 136);
}

.bg-green {
  background-color: rgb(71, 210, 53);
}

.bg-orange {
  background-color: rgb(241, 143, 72);
}

.bg-purple {
  background-color: rgb(204, 98, 253);
}

/* Meet Our Team */
.team-container {
  width: 100%;
  padding-bottom: 30px;
  margin: 0 auto;
  background-color: #1c1c1c;
}

.team-title {
  text-align: center;
  color: #fff;
  font-size: 35px;
}

.team-content {
  max-width: 90%;
  margin: 30px auto;
  padding: 3rem 20px;
  background-color: #1f2229;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.team-banners {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.team {
  display: flex;
  justify-content: center;
  position: relative;
  height: 350px;
  width: 300px;
  background-image: url("../img/logo.jpg");
  background-size: 100%;
  background-repeat: repeat;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.team-banners .logo {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 1);
  top: 10px;
  right: 15px;
  width: 50px;
  height: 50px;
}

.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  border-radius: 15px;
}

.team img {
  /* width: 150%; */
  height: auto;
}

.team .desc {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

/* Contact Feedback */
.feedback {
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.787);
  width: 50%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.feedback h1 {
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
  text-align: center;
}

.form-group {
  margin-bottom: 0.7rem;
}

.form-group .item {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 12px 0;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  background: transparent;
}
.form-group .item:focus {
  border: 2px solid rgba(75, 192, 192, 1);
}

.form-group.error .item {
  border-color: red;
}

#comments {
  resize: none;
}

.error-txt {
  color: red;
  font-size: small;
  margin: -8px 0 5px 0;
  display: none;
}

.form-group.error .error-txt {
  display: block;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.radio-group > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio-group div input {
  width: fit-content !important;
  border: 2px solid white;
  border-radius: 50% !important;
  appearance: none;
  background-color: transparent;
  outline: none;
}

.radio-group div input:not(:disabled):checked {
  border: 2px solid white;
  background-color: rgba(75, 192, 192, 1);
}

.btn-submit {
  background: rgba(75, 192, 192, 1);
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(75, 192, 192, 1);
  padding: 15px 20px;
  font-weight: 500;
  color: #1f2229;
  display: block;
  border-radius: 8px;
  font-size: 1rem;
  margin: 2.5rem auto 0 auto;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: none;
}

/* swal2 */
.swal2-modal {
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.787) !important;
  padding: 0 0 2.2em;
}

.swal2-title {
  color: #ffffff;
}

.swal2-html-container {
  color: #ffffff !important;
}

.swal2-confirm {
  color: #1f2229 !important;
  border: none !important;
  box-shadow: 0 0 10px rgba(75, 192, 192, 1);
}

/* Footer */
footer {
  background-color: #1f2229;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  padding: 3.5rem 0;
}

footer h2 {
  margin-bottom: 1.3rem;
}

.footer-cr {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
  color: white;
}

.footer-cr h2 {
  margin: 0;
}

.footer-cr img {
  width: 80px;
  height: 80px;
}

.footer-nav,
.footer-cr,
.footer-followus {
  width: auto;
  margin: 0 auto;
}

.footer-nav ul li {
  padding: 10px 0;
}

.footer-nav ul li a:hover {
  color: rgba(75, 192, 192, 1);
}

.footer-followus .icon-box {
  display: inline;
  margin: 10px;
}

.footer-followus .icon-box:nth-of-type(1) {
  margin-left: 0 !important;
}

.footer-followus .icon-box i {
  color: white;
}

.footer-followus .icon-box i:hover {
  color: rgba(75, 192, 192, 1);
}
