@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  border: 1px solid black;
}

nav {
  width: 10%;
  position: fixed;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  top: 0;
  align-items: center;
  background-color: #1f2229;
  flex-wrap: wrap;
}

nav img {
  background-position: center;
  background-size: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav span {
  color: white;
}

.desc-dataset {
  margin-top: 3rem;
  color: white;
  text-align: center;
}

header {
  background-color: #1f2229;
  color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

header h2 {
  font-size: 30px;
  text-align: left;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

main {
  background-color: #1c1c1c;
  margin-left: 10%;
  width: 100%;
}

.container {
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

section {
  box-sizing: content-box;
  overflow: hidden;
  background-color: #1f2229;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.787);
  color: white;
  padding: 1.5rem;
  margin: 20px 15px;
  height: 300px;
}

.kpi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kpi .kpi-title span {
  font-size: 18px;
  color: #d0d0d0;
  font-weight: bolder;
}

.card-wrap {
  display: flex;
}

.card {
  color: #1f2229;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
}

.card h4 {
  font-weight: bolder;
  font-size: 24px;
}

.card h5 {
  color: #464646;
}

/* .trend-report img {
  width: 100%;
}

.monthly img {
  width: 100%;
}

.revenue img {
  width: 100%;
}

.total img {
  width: 100%;
} 
.average img {
  width: 100%;
}

.building img {
  width: 100%;
}

.expensive img {
  width: 100%;
}

.map img {
  width: 100%;
}*/

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 2em;
}

h2 {
  margin: 0; 
  font-size: 2em;
}

h1 {
  margin-bottom: 20px; 
}

h2 {
  margin-bottom: 15px; 
}

main {
  padding: 20px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-member {
  background-color: #202320;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.team-member p {
  margin: 0;
  color: whitesmoke;
}

